<ul class="nav nav-pills nav-justified">
    <li><a href="#round1">First round</a></li>
    <li><a href="#round2">Second round</a></li>
    <li><a href="#round3">Third round</a></li>
    <li><a href="#round4">Regional Semifinals</a></li>
    <li><a href="#round5">Regional Finals</a></li>
    <li><a href="#round6">National Semifinals</a></li>
    <li><a href="#round7">National Championship</a></li>
</ul>
