<div class="row">
    <h3>{{ this.round_header }}</h3>
</div>
<div class="row">
    <div class="tournament-bracket-header-view col-sm-3">
        Midwest
    </div>
    <div class="tournament-bracket-header-view col-sm-3">
        West
    </div>
    <div class="tournament-bracket-header-view col-sm-3">
        South
    </div>
    <div class="tournament-bracket-header-view col-sm-3">
        East
    </div>
</div>
<div id="brackets-container">
</div>