
<div class="row">
    <div class="tournament-bracket-header-view col-sm-2">
        Midwest
    </div>
    <div class="tournament-bracket-header-view col-sm-offset-1 col-sm-2">
        West
    </div>
    <div class="tournament-bracket-header-view col-sm-offset-1 col-sm-2">
        South
    </div>
    <div class="tournament-bracket-header-view col-sm-offset-1 col-sm-2">
        East
    </div>
</div>